.deps/
CVS/
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
c2html
c2html.err
c2html.man
*.o
c2thml.err
/compile
config.guess
config.log
config.status
config.sub
configure
depcomp
lexical.c
missing
libtool
tags
ltmain.sh
ylwrap
*.html
*.temp
a.c
a.h
avl.c
avl.h
c2html.out
html/
m4/
pepe
pru
pru.c
strace.out
tags_cortito
test_menu
test_node
test_ctag
core
valgrind.out
