.deps/
CVS/
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
c2html
c2html.err
c2html.man
*.o
c2thml.err
config.guess
config.log
config.status
config.sub
configure
depcomp
lexical.c
missing
libtool
tags
ltmain.sh
ylwrap
