.comment {
	color: green;
}

.resvword {
	/*font-family: courier; */
	font-weight: bold;
	color: black;
}

.string {
	color: red;
}

.escape {
	color: purple;
}

.octal,.decimal,.hexadecimal,.double,.binary {
	color: red;
}

.todo,.fixme,.argsused,.xxx {
	background: yellow;
	color: red;
}

body {
	display: inline-flex;
	background: url(bgtile.png);
	padding-top: 1cm;
	padding-bottom: 1cm;
	padding-left: 1in;
	padding-right: 1in;
    width: -webkit-fill-available;
}

.header, .footer {
    padding: 0.5cm;
}
.header {
    padding-bottom: 0;
}
.footer {
    padding-top: 0;
}

.main {
    background-color: white;
    width: -webkit-fill-available;
}

.middle {
    padding-left: 0.5cm;
    padding-right: 0.5cm;
    display:flex;
}

span#left {
	width: 32px;
    height: auto;
	background: url(holes.png);
	box-shadow: 4px 4px 5px #888888;
	border-top-left-radius: 0.25cm;
	border-bottom-left-radius: 0.25cm;
}

span#right {
    width: -webkit-fill-available;
    background: url(background.png);
	box-shadow: 4px 4px 5px #888888;
    border-top-right-radius: 0.5cm;
    border-bottom-right-radius: 0.5cm;
    padding-right: 0.5cm;
}
span#right>ul>ul {
    column-fill: balance;
    columns: 3;
}

.dir,.file,.tag {
    font-family: monospace;
}

span.file,span.dir {
	font-weight: bold;
}

span.path {
    font-style: italic;
}

body {
	font-family: helvetica;
}
.title {
	font-size: 141%;
}

.linenum {
	background-color: #666;
	color: #ccf;
	padding-left: 1ex;
	padding-right: 1ex;
}

.directive {
	color: purple;
}

.standardinclude {
	color: #080;
}

.nonstandardinclude {
	color: #840;
}
