.comment {
	color: green;
}
.resvword {
	/*font-family: courier; */
	font-weight: bold;
	color: black;
}
.string {
	color: red;
}
.escapechar {
	color: purple;
}
.number {
	color: red;
}
.todo,.fixme,.argsused,.xxx {
	background: yellow;
	color: red;
}

#listing {
	display: inline-flex;
	background: url(bgtile.png);
	padding-top: 1cm;
	padding-bottom: 1cm;
	padding-left: 3cm;
	padding-right: 3cm;
}

#left {
	width: 32px;
	margin: 0;
	background: url(holes.png);
	box-shadow: 4px 4px 5px #888888;
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
}

#right {
	margin: 0;
	/* font-family: courier; */
	background: url(background.png);
	box-shadow: 4px 4px 5px #888888;
	border-top-right-radius: 16px;
	border-bottom-right-radius: 16px;
}

span.file,span.dir {
	font-weight: bold;
}

span.path {
    font-style: italic;
}

body {
	font-family: helvetica;
}
.title {
	font-size: 140%;
}

.linenum {
	background-color: #666;
	color: #ccf;
	padding-left: 1ex;
	padding-right: 1ex;
}
.directive {
	color: purple;
}
.standardinclude {
	color: #080;
}
.nonstandardinclude {
	color: #840;
}

li ul {
	-moz-column-count: 3;
	-webkit-column-count: 3;
	column-count: 3;
}

li li {
	word-wrap: break-word;
	margin-left: 2em;
	/*text-indent: -2em; */
}
body>ul>li{
	margin: 2em 0 2em 0;
}

/* li li:before {
	content: ", ";
}

li li:first-child:before {
	content: none;
}

li li::after {
	content: none;
} */

/* span.dir {
	background-color: #fa4;
}
span.file {
	background-color: #dfd;
}
span.tag {
	background-color: #fdd;
} */

